---
import BackgroundDots from "@/components/react/background-dots"

const { class: className } = Astro.props
---

<div class:list={['h-auto w-auto rounded-tl-3xl rounded-tr-3xl bg-gray-950', className]}>
    <BackgroundDots client:visible />
    <slot />
</div>
